<div class="top-bar"></div>

<div class="flex-row">
  <mat-icon class="confirm-icon">error</mat-icon>
  <div class="flex-col">
    <h1 mat-dialog-title>{{ input.headerText }}</h1>
    <p mat-dialog-content *ngIf="input.bodyText">{{ input.bodyText }}</p>
  </div>
</div>

<div mat-dialog-actions class="float-right">
  <button mat-raised-button (click)="closeDialog(false)" class="button cancelButton">{{ input.cancelText }}</button>
  <button mat-raised-button (click)="closeDialog(true)" class="button successButton">{{ input.submitText }}</button>
</div>
