.top-bar {
  border-top: 8px solid rgb(0, 111, 230);
  width: calc(100% + 48px);
  position: relative;
  top: -24px;
  left: -24px;
}

.confirm-icon {
  color: rgb(0, 111, 230);
  font-size: 60px;
  width: 60px;
  height: 60px;
  margin: auto 24px auto 0;
}

.mat-dialog-content {
  color: var(--textColor);
}

.mat-dialog-actions .button {
  width: 100px;
}

@media only screen and (max-width: 1024px) {
  .confirm-icon {
    display: none;
  }
}
