.list-of-tasks {
  width: 600px;
  margin: 0 auto;
}

.task-container {
  width: 100%;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: var(--defaultMargin) auto;
  border-radius: 4px;
}

.category-ribbon {
  width: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
}

.category-title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: var(--defaultPadding);
}

p {
  margin: auto 0;
}

.description {
  padding: var(--defaultPadding);
  flex: 1;
}

.date {
  white-space: nowrap;
}

.right-side-details {
  margin-left: auto;
}

.delete-task,
.mat-button-wrapper {
  margin: auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.mat-icon,
.mat-checkbox {
  margin: auto var(--defaultMargin);
}

/* Override angular material checkbox colors */

/* Work */
div.work + ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
div.work
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--workColor);
  background: var(--workColor);
}

/* Home */
div.home + ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
div.home
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--homeColor);
  background: var(--homeColor);
}

/* Sports */
div.sports
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
div.sports
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--sportsColor);
  background: var(--sportsColor);
}

/* Payment */
div.payment
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
div.payment
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--paymentColor);
  background: var(--paymentColor);
}

/* Meeting */
div.meeting
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
div.meeting
  + ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--meetingColor);
  background: var(--meetingColor);
}
