.home-page-container {
  height: auto;
  justify-content: center;
}

.new-task-actions {
  position: sticky;
  align-self: flex-start;
  top: 0;
  z-index: 1;
  background-color: var(--backgroundColor);
  padding-bottom: 10px;
  align-items: center;
}

h1 {
  font-family: "Segoe UI";
  font-weight: 700;
  margin: 1.5em 0;
  color: var(--primaryColor);
  font-size: 60px;
  line-height: 40px;
  text-align: center;
}
