.description-field {
    width: 600px;
    max-width: 90vw;
}

.details-row {
    justify-content: center;
}

.details-row .mat-form-field:first-child {
    padding-right: var(--defaultMargin);
}

.details-row .mat-form-field:last-child {
    padding-left: var(--defaultMargin);
}


.category-field, .due-date-field {
    width: 300px;
    max-width: 45vw;
    box-sizing: border-box;
}

/* Move the default mat-select panel down */
::ng-deep .category-selection{
    margin-top: 15% !important;
}